.wrapper{width:80%; margin:0 auto;}
table input{display:none;}

.menu img{width:50px;height:50px;}
.productImage{width:220px;height:220px;float:left;}

.detailContainer{
width:100%;
font-size:20px;
text-align:center;
}


.orgContent ul{list-style-type:none;}
.orgContent ul>li {width:30%;float:left;line-height:2.3em;}

div>input {position:relative;left:40%; width:100px;float:left;}
